body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 300px;
  height: 400px;
  font-size: 80px;
  padding-top: 119px;
  border: 1px solid black;
  position: relative;
  top: 105px;
  &:before {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 80px;
  }
  &:after {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 80px;
  }
  &.spade:before,&.spade:after{content: "\2660";}
  &.club:before,&.club:after{content: "\2663";}
  &.heart:before,&.heart:after{content: "\2665"; color: red;}
  &.diamond:before,&.diamond:after{content: "\2666"; color: red;}
}
